@import (inline) "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "./todo-input.less";
@import "./wire.less";
@import "./logger.less";
@import "./event-store.less";
@import "./materialized-view.less";

#app {
  width: 100%;
  height: 100%;
}

.main-view {
  > div {
    width: 100%;
    > div {
      overflow-y: auto;
      border: 1px solid black;
      height: 100%;
    }
  }
  .upper-row, .lower-row {
    height: 40%;
  }
  .middle-row {
    height: 8%;
  }
}
