@import (inline) "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

#app {
    width: 100%;
    height: 100%;
}

.grid-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 24pt;
    tr {
        height: 40px;
        td {
            width: 40px;
            cursor: pointer;
        }
    }
    .alive {
        color: #00aa00;
    }
    .dead {
        color: #aa0000;
    }
}