.modal.in {
  display: block;
}

.modal.out {
  display: none;
}

.modal {
  .glyphicon {
    cursor: pointer;
  }
}

.pattern-list {
  list-style-type: none;
  padding-left: 0;

  .pattern {
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
  }
  .pattern:hover {
    .dead {
      background-color: #eeeeff;
    }
    .pattern-name {
      color: #111100;
    }
  }
  .pattern.selected {
    background-color: #ccccff;
  }
  
  .pattern-name {
    font-size: 1.5em;
    text-align: center;
    display: block;
  }
  .pattern-thumbnail {
    margin: 10px 30px;
    ul {
      width: 100%;
      padding: 0px;
    }
    .thumbnail-grid {
      border: 1px solid black;
      overflow: hidden;
      height: 50px;
      width: 50px;
      margin: auto;
    }
  }
  .thumbnail-row {
    display: table;
    min-height: 1px;
    min-width: 1px;
    .alive {
      background-color: black;
    }
    .dead {
      background-color: white;
    }
  }
  .thumbnail-cell {
    display: table-cell;
    min-height: 1px;
    min-width: 1px;
  }
}